<!DOCTYPE html>
<mat-card class="profile-card">
    <mat-card-header>
      <div mat-card-avatar class="profile-avatar"></div>
      <mat-card-title>{{user.Username}}</mat-card-title>
      <mat-card-subtitle>{{user.Email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p> </p>
      <p> </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="editProfile()">Edit Profile</button>
      <button mat-button color="warn" (click)="deleteProfile()">Delete Profile</button>
    </mat-card-actions>
  </mat-card>